.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-opacity 10s linear;
    border-radius: 50%;
  }
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  margin-left: 10px;
}

.App-link:first-child {
  margin-left: 0px;
}

.App-link:hover {
  text-decoration: underline;
}

@keyframes App-logo-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
