/* CSS GERAL */
a.disabled {
  pointer-events: none;
  cursor: default;
}

.text-underline-hover {
  text-decoration: none;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.text-justify {
  text-align: justify;
}

.uppercase-first-letter::first-letter {
  text-transform: uppercase;
}
